body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }

  .container {
    margin-top: 50px;
  }

  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }

  .input-group-prepend select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="number"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }